.chat-conteudo{
    display: grid;
    grid-template-rows: 80px auto 70px;
    height: calc(100vh - 170px);
    padding: 5px;
}

.chat-header{
    text-align: center;
}

.chat-conversa{
    position: relative;
    height: 55%;
}

.chat-mensagem{
}

